polyline {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 5s ease-in forwards;
  animation-iteration-count: 10;
  animation-direction: alternate;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

.name {
  font-size: 0.8rem;
  font-weight: light;
}
